{% extends "main.html" %}

{% block content %}
<section class="md-content" data-md-component="content">
  <article class="md-content__inner md-typeset">

    <h1>Страница не найдена <span style="opacity:.6">(404)</span> 🙈</h1>

    <p style="white-space: pre-line;">
Похоже, такой страницы здесь нет.
Если ты попал сюда случайно — сделай шаг назад.
Если ожидал, что здесь будут сведения — это БАГ 👾.
Напиши мне и пришли ссылку на эту страницу — я поправлю.
    </p>

    <p>
      <a href="javascript:history.back()" class="md-button">← Шаг назад</a>
      <a href="https://t.me/Mustafin_Ruslan_F" class="md-button" target="_blank" rel="noopener">
        Написать мне в Telegram
      </a>
    </p>

    <p class="md-caption" style="opacity:.75">
      Спасибо! Такие отчёты помогают мне улучшать «ETL Kitchen».
    </p>

  </article>
</section>
{% endblock %}
